/*Custom form styles*/
#state {
    color: #000 !important;
}

body {
    color: #000 !important;
}



/*Landing Page*/
#main {
    width: 1000px;
    margin: auto;
}

.button1 {
    width: 150px;
}


@media only screen and (max-width: 1000px) {
  #main{
     width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  input.space{
     width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  label.space{
     font-size: 15px;
     text-align: left;
  }
}


#content {
    display: flex;
    width: 100%;
}


/*Help?*/
.space {
  position: relative;
  display: inline-block;
}

.space .tooltiptext {
  visibility: hidden;
  width: 210px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.space:hover .tooltiptext {
  visibility: visible;
    top: -5px;
    right: 87%;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
.space:hover .tooltiptext {
    visibility: visible;
    position: absolute;
    z-index: 1;
    top: 50px;
    transform: translate(-240px,28px);
    left: 105%;
    padding: 5px 0;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 10px;
  }
}

/*END HELP*/


#main-content{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    '. side side side side .';

}

#forms-container{
    /*grid-area: forms;*/
    width: 100%;
    margin: auto;
}



#test1, #test2, #test3 {
    height: 100px !important;
    margin: .5rem;
}

#test1 h3, #test2 h3, #test3 h3 {
    padding-top: 35px;
}



#form1 {
    background:  #4d9e2f;
    color: #fff;
    border-radius: 25px;
    width: 850px;
    cursor: pointer;
    width: 100%;
    margin: auto;
    
}

@media only screen and (max-width: 600px) {
select.state {
    width: 100px;
    display: inline-block;
    text-align: center;
    transform: translate(-10px, 0px);
}
}

select.state {
    align-content: left;
}

label.state{
    text-align: center;
}


@media only screen and (max-width: 600px) {
label.state {
    padding-left: 20%;
	width: 100%;
    text-align: left;
    font-size: 15px;
}
}

input.space3 {
    width: 80%;
}

#form2 {
    background: #00539b;
    color: #fff;
    border-radius: 25px;
    width: 850px;
    cursor: pointer;
    width: 100%;
    margin: auto;
}



#form3 {
    background: #e46f1f;
    color: #fff;
    border-radius: 25px;
    width: 850px;
    cursor: pointer;
    width: 100%;
    margin: auto;
}


#formBox1 {
    background: #6bae53; 
    border-radius: 0 0 25px 25px;
    display:none;
}

#lengthOfStay.p{
    margin: .75rem;
}

#volumes.p{
    margin: .5rem;
}

#integrate.p{
    margin: .25rem;
}

#formBox2 {
    background: #0769a8;
    border-radius: 0 0 25px 25px;
    display:none;
}

#formBox3 {
    background: #e98747;
    border-radius: 0 0 25px 25px;
    display:none;
}



#form1Header.h3, #form2Header.h3, #form3Header.h3{
    font-weight: bold;
    color: #fff;
    margin: 1rem;
}

.space {
    margin: .5rem;
}



.right {
    float: right;
}

.left {
    float: left;
}

.block {
    display: block;
}

.select {
    background-color: #000000;
	color: #ffff00;
}

/* contact form---------------------------------------------------------------*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.button1 {
    min-height: 38px;
}

.container {
  border-radius: 25px;
  padding: 20px;
  width: 50%;
}

.resetButton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.resetButton:hover {
    background-color: #45a049;
}



/* Results page styles*/




#results {
    padding: 2em;
    background: #f9fcfb;
    text-align: center;
    display: block;
}

#results.h2 {
    color: #23527c;
    text-align: center;
    
}

#contact {
    background: #00539c;
    
}

#contact.h3 {
    color: #fff;
    text-align:center;
    
}

#contact.p {
    padding: 1em;
    color: #fff;
    text-align: center;
}


#contact.button {
    text-align: center;

}

/*Contact Section */

#containerContact {
    height: 600px;
    width: 1000px;
    margin-left: 10px;
    text-align: center;
}

.contactLinks {
    text-align: center;
}

.contactLinks li {
    list-style: none;
    display: inline;
    padding: 15px;
}

.contactLinks a:hover {
    color: #000;
}


/*Results Page ED Volumes*/

.main {
    text-align: center;
    font: 14px/1.4 Arial, Serif;
    color: #000 !important;
}

.main p {
    padding: 2px;
}

#mobile {
    display: none;
}

@media (max-width: 768px){

    #desktop {
        display: none;
    }
    
    #mobile {
        display: block;
    }
    
    
}

@media (max-width: 1100px){
    .masthead .main-nav, .masthead:not(.side-header) .main-nav, #phantom, .masthead:not(.side-header) .header-bar, .masthead.side-header .header-bar, .header-scrollbar-wrap, .masthead.mixed-header, .header-space, .hide-overlay, .top-line-space {
    display: inline !important; 
    }
}

#mobile th {
    background: #00539C !important;
    color: #fff !important;
    width: 100% !important;
    border: none;
}

#mobile td {
    background: #fff !important;

}

#mobile td h4 {
    background: #fff !important;
    color: #00539C !important;
}


.edImg {
    height: 15rem;
    width: 30rem;
    
}

.blue{
    color:#00539C;
}

.amount{
    font-size: 3rem;
}

.ct-series-a .ct-bar {
    stroke-width: 40px;

}

.ct-series-a .ct-bar:nth-child(1){
    stroke: #808080;
}
.ct-series-a .ct-bar:nth-child(2){
    stroke: #ffa439;
}
.ct-series-a .ct-bar:nth-child(3){
    stroke: #00539C;
}

.ct-label {
    color: black !important;
    font-size: 1rem !important;
}

table {
    width: 80%;
    margin: auto;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center !important;
}

th {
    font-weight: bold;
    background: #00539C;
    color: #fff;

}




th:nth-child(1){
    background: #fff;
    text-align: center;
}

td:nth-child(1), td:nth-child(5){
    font-weight: bold;
    background: #00539C;
    color: #fff;
    text-align: center;
}

.contact {
    text-align: center;
    width: 100% !important;
}

.result_button {
    margin: 3rem !important;
    height: 3rem !important;
    width:  17rem !important;
    height: 5rem !important;
    border-radius: 5px !important;
    background: #337ab7 !important;
    color: #fff !important;
    border-color: #2e6da4 !important;
    font-size: 12px !important;
    padding: 10px 16px !important;
}

.result_button:hover {
    background: #286090 !important;
    border-color: #204d74 !important;
}

.center {
    text-align: center;
}

.contact{
    background: #E3E3E3;
}

.contact h3{
    color: #00539C;
}

.contact p{
    font-size: 14px;
    padding: 20px;
}

.bottom{
    text-align: center;    
}

.bottom a {
    text-decoration: none;
    color: #337ab7;
}

.bottom a:hover {
    color: #23527c;
    text-decoration: underline;
}

.navBottom {
    padding: 2rem;
}

.fine {
    font-size: x-small !important;
}


/*ALOS*/

#ALOSvolumes label, #ALOSvolumes input {
    width: 200px;
}


























/**/